body{
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    margin: 0;

    min-height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;

}

h1{
    background-color: #1eafcc;
    color: white;
    padding: 15px;
    margin: 0;
}
h2 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 20px;
  color: #f0f0f0; 
  margin-bottom: 40px;
}

.container{
    margin-top: 30px;
}

input{
    padding: 14px;
    width: 350px;
    border-radius: 6px;
    font-size: 16px;
}

button{
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #1eafcc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #168aa3;
}

.weather-card{
    margin-top: 20px;
    background-color: white;
    display: none;
    padding: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.error{
    color: red;
}