body{
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    margin: 0;
}

h1{
    background-color: #1eafcc;
    color: white;
    padding: 15px;
    margin: 0;
}

.container{
    margin-top: 30px;
}

input{
    padding: 8px;
    width: 200px;
}

button{
    padding: 8px 12px;
    background-color: #1eafcc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #168aa3;
}

.weather-card{
    margin-top: 20px;
    background-color: white;
    display: none;
    padding: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.error{
    color: red;
}